apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: dawning
  labels:
    app: zookeeper
    app.kubernetes.io/name: zookeeper
spec:
  type: ClusterIP
  ports:
    - port: 2181
      targetPort: 2181
      name: client
  selector:
    app: zookeeper
---
# Headless service for StatefulSet
apiVersion: v1
kind: Service
metadata:
  name: zookeeper-headless
  namespace: dawning
  labels:
    app: zookeeper
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 2181
      targetPort: 2181
      name: client
    - port: 2888
      targetPort: 2888
      name: peer
    - port: 3888
      targetPort: 3888
      name: leader-election
  selector:
    app: zookeeper
