apiVersion: v1
kind: Service
metadata:
  name: admin-frontend
  namespace: dawning
  labels:
    app: admin-frontend
    app.kubernetes.io/name: admin-frontend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      name: http
  selector:
    app: admin-frontend
