apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: dawning
  labels:
    app: kafka
    app.kubernetes.io/name: kafka
spec:
  type: ClusterIP
  ports:
    - port: 9092
      targetPort: 9092
      name: external
    - port: 9093
      targetPort: 9093
      name: internal
  selector:
    app: kafka
---
# Headless service for StatefulSet
apiVersion: v1
kind: Service
metadata:
  name: kafka-headless
  namespace: dawning
  labels:
    app: kafka
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 9092
      targetPort: 9092
      name: external
    - port: 9093
      targetPort: 9093
      name: internal
  selector:
    app: kafka
