apiVersion: v1
kind: Service
metadata:
  name: gateway-api
  namespace: dawning
  labels:
    app: gateway-api
    app.kubernetes.io/name: gateway-api
spec:
  type: ClusterIP
  ports:
    - port: 5000
      targetPort: 5000
      name: http
  selector:
    app: gateway-api
