apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: dawning
  labels:
    app: redis
    app.kubernetes.io/name: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
  selector:
    app: redis
---
# Headless service for StatefulSet
apiVersion: v1
kind: Service
metadata:
  name: redis-headless
  namespace: dawning
  labels:
    app: redis
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
  selector:
    app: redis
